ul li {
  list-style: none;
  padding: 10px 10px 5px 50px;
  text-transform: capitalize;
  border: 1px solid #f1f2f3;
  background: white;
}
.displayform-true {
  margin-left: 200px;
  width: 60%;
}
.btn-add-display-form-true {
  margin-left: 240px;
}

ul {
  margin-top: 10px;
  padding-inline-start: 0px;
}
.content {
  margin: 0px 150px 0px 50px;
}
.span-display-form-false-status {
  font-size: 12px;
  margin-top: 10px;
  position: absolute;
  right: 520px;
  margin-top: 25px;
}

.btn-display-form-false-delete {
  position: absolute;
  right: 300px;
  margin-top: 15px;
}

.btn-display-form-false-edit {
  position: absolute;
  right: 385px;
  margin-top: 15px;
}

.span-display-form-true-status {
  margin-top: 10px;
  position: absolute;
  right: 225px;
  margin-top: 25px;
}

.btn-display-form-true-edit {
  position: absolute;
  right: 115px;
  margin-top: 15px;
}

.btn-display-form-true-delete {
  position: absolute;
  right: 30px;
  margin-top: 15px;
}

.Task__time {
  font-size: 13px;
    color: #666666;
    margin-bottom: 5px;
}

.checkbox-true {
  left: 250px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  border-radius: 16px;
}

.time-late {
  background: rgb(218, 179, 179);
}

.text-right {
  margin-left: 135px;
}

h3{
  float: left;
  width: 50%;
}

.textDecoration {
  text-decoration: line-through;
  opacity: 0.8;
}

.footer {
  margin-top: -10px;
  list-style: none;
  padding: 15px 10px 15px 50px;
  text-transform: capitalize;
  border: 1px solid #f1f2f3;
  background: white;
}

.active {
  padding: 5px;
  border: 1px solid red;
}

.arror-colspan {
  position: absolute;
  left: 215px;
}

.collspan-isOpen-true {
  margin-top: 10px;
}

.inline-button {
  float: left;
}

.form-inline-display-form-true {
  margin-left: 495px;
}

.form-inline-display-form-false {
  margin-left: 630px;
}

a {
  text-decoration: none;
  cursor: pointer
}

a:hover {
  text-decoration: none;
}

.input-chexbox {
  margin-top: 50px;
  position: absolute;
}

input[type='checkbox']{
  margin-top: 15px;
}

.text-todo {
  max-width: 280px;
  white-space: normal;
}